<form>
  <div class="form-group">
    <label>Repository URL</label>
    <input class="form-control" id="inputRepoURL" placeholder="Enter URL">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="response"></div>


<h2 id="repoName">Open Pull Requests for {{repoName}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">User</th>
      <th scope="col"># of Comments</th>
      <th scope="col"># of Commits</th>
    </tr>
  </thead>
  <tbody>
    {{#each pullReqs}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.user.login}}</td>
      <td></td>
      <td></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script src="./js/index.js"></script>