<form>
  <div class="form-group">
    <label>Repository URL</label>
    <input class="form-control" id="inputRepoURL" placeholder="Enter URL">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="./js/index.js"></script>